{{> header lang="en"}}
<meta property="og:locale" content="en_CA" />
</head>
<body>
    
    {{> navbar }}
    <main id="swup" class="transition-fade">
        <h1>index in EN {{site.title}}</h1>

        <img src="images/test.gif" alt="">
    </main>
    


{{> footer }}