{{> header lang="en"}}
<meta property="og:locale" content="en_CA" />
</head>
<body>
    {{> navbar }}
    <main id="swup" class="transition-fade">
        <h1>This is the about page</h1>
    </main>

{{> footer }}