{{> header lang="fr"}}
<meta property="og:locale" content="fr_CA" />
</head>
<body>
    
    {{> navbar fr='true' }}
    <main id="swup" class="transition-fade">
        <h1>La page en francais {{site.title}}</h1>

        <img src="/images/test.gif" alt="">
    </main>
    


{{> footer lang="fr"}}