{{> header}}
<meta property="og:locale" content="fr_CA" />
</head>
<body>
    
    {{> navbar-fr }}
    <main id="swup" class="transition-fade">
        <h1>A propos francais {{site.title}}</h1>
    </main>
    


{{> footer }}